.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.movie-details img {
    float: left;
}

.movie-title {
    font-weight: bold;
    font-size: 26px;
    height: 70px;
}

.movies-component li {
    list-style-type: none;
    left: 0;
}

.movies-component li.selected {
    background: forestgreen;
    color: white;
}